<p>Welcome</p>
<% if (@home_tweets) %>
    <% @home_tweets.each do |tweet| %>
        <table>
          <tr>
            <td>Text:</td>
            <td><%= tweet.text %></td>
          </tr>
          <tr>
            <td>Created at:</td>
            <td><%= tweet.created_at %></td>
          </tr>
        </table>
        <br/>
    <% end %>
<% end %>
